*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	cursor: default;
}
li{
	list-style: none;
}
header{
	border-bottom:1px solid #95989A;
}
header>div{
	width:92%;
	margin:0 0 0 auto;
	display:flex;
	/* justify-content: space-between; */
}
.llogo_container{
	display: flex;
	flex-flow: column;
	justify-content: center;
	/* height:82px; */
	/* background-color:lightcoral; */
	margin-right:55px;
}
.llogo_top{
	display: flex;
	justify-content: space-between;
	cursor:pointer;
}
.black_article{
	width:30%;
	background-color:black;
	display: flex;
	justify-content: space-around;
	align-items:center;
	cursor:pointer;
}
.red_article{
	width:68%;
	background-color:red;
	display: flex;
	justify-content: flex-end;
	align-items:center;
	text-align:center;
	cursor:pointer;
}
.llogo_top span{
	/* letter-spacing:17px; */
	color:white;
	font-size:11px;
	font-family:'Poppins';
	text-align:center;
	cursor:pointer;
}
.llogo_top h2{
	line-height: 17px;
	color:white;
	font-size:11px;
	text-align: right;
	font-family:'Poppins';
	margin-right:10px;
	cursor:pointer;
}
.llogo_bottom{
	width:100%;
}
.llogo_bottom h1{
	/* background-color:lightskyblue; */
	text-align: center;
	font-size:47px;
	font-family:'Poppins';
	line-height: 1;
	cursor:pointer;
}
.llogo_bottom span{
	color:red;
	text-transform: capitalize;
	cursor:pointer;
}
.header-list_container{
	width:100%;
	display: flex;
	flex-flow: column;
	border-left:1px solid #95989A;
}
.first_list{
	display:flex;
	justify-content: flex-end;
	width:78%;
}
.first_list ul{
	display: flex;
	margin-top:6px;
	margin-bottom:14px;
}
.first_list ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font: 600 12px/18px Poppins;
	letter-spacing: 0;
	opacity: 1;
	cursor:pointer;
}
.first_list ul li:nth-child(2){
	margin-left:25px;
	
}
.first_list ul li:nth-child(3){
	margin-left:25px;
}
.first_list ul li:nth-child(1) a{
	color:#3B5998;
}
.first_list ul li:nth-child(2) a{
	color:#D3373C;
	padding-left:25px;
	border-left:2px solid black;
}
.first_list ul li:nth-child(3) a{
	color:#C823D4;
	padding-left:25px;
	border-left:2px solid black;
}
.second_list-container{
	display: flex;
	border-top:1px solid #95989A;
	height:100%;
}
.second_list{
	width:64%;
	border-right:1px solid #95989A;
	position: relative;
}
.show2{
	display: none;
}
.second_list ul{
	display:flex;
	justify-content:space-between;
	margin:14px 70px 14px 30px;
}
.showlist{
	display: flex !important;
	flex-flow:column;
	align-items: center;
	width:100%;
	position: absolute;
	top:0;
	background-color:rgb(243, 233, 233);
	z-index:2;
	margin:0 !important;
}
.second_list ul li a{
	font: 500 16px/25px Poppins;
	letter-spacing: 0;
	color: #000000;
	text-decoration: none;
	cursor:pointer;
}
.second_list i{
	display: none;
	position: relative;
	z-index:4;
	cursor:pointer;
}
.search_container{
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
}
.search_container i{
	font-size:26px;
	cursor:pointer;
}
.search_container input{
	display: none;
	width:100%;
	height:100%;
	border:none;
	outline:none;
	padding:10px 50px 10px 10px;
	font: 400 16px/25px Lato;
	letter-spacing: 1.5px;
	background-color:rgb(247, 240, 240);
	cursor:text;
}
.go{
	position:absolute;
	right:5%;
	font-size:20px !important;
}
.show{
	display: block !important;
}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

main>div{
	width:84%;
	margin:42px auto 0 auto;
}
.first-part_container{
	display: flex;
	justify-content: space-between;
	/* background-color:lightblue; */
}
.newest_news{
	width:62%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.main_news{
	width:100%;
	height:46%;
	position: relative;
	background-color:lightblue;
}
.main_news img{
	width:100%;
	height:100%;
}
.main_news-paragraph{
	position: absolute;
	background-color:rgba(242, 41, 41, 0.7);
	bottom:0;
	left:0;
	padding:22px 43px 13px 28px;
}
.main_news-paragraph h2{
	font: 700 20px/23px Poppins;
	color:white;
}
.main_news-paragraph p{
	color:white;
	font:400 18px/23px Poppins;;
}
.main_news-type{
	position: absolute;
	right:20px;
	bottom:35%;
	background-color:white;
}
.main_news-type h1{
	font: 700 30px/36px Lato;
	margin:4px 12px 9px 13px;
}
.news_container{
	margin-top:25px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px 20px;
	height:64%;
}
.img_container{
	position: relative;
}
.img_container img{
	width:100%;
	height:100%;
}
.date{
	position:absolute;
	bottom:20px;
	left:20px;
	background-color:white;
}
.date h1{
	font: 700 16px/19px Lato;
	margin:3px 12px 6px 12px;
}
.news_description h1{
	font: 600 17px/23px Poppins;
}
.news_description h2{
	font: 400 17px/23px Poppins;
}
.side_news{
	width:36%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.table_news{
	border:1px solid #E4E4E4;
	/* height:230px; */
}
.table_news>div{
	padding:0 15px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom:13.5px;
	padding-top:13.5px;
	border-top:1px solid #E4E4E4;
}
.table_news>div:nth-child(1){
	padding-top:18px;
	margin-bottom:18px;
	border-top:none;
}
.table_news>div:nth-child(1) .value_container{
	justify-content: flex-end;
}
.table_news>div:nth-child(1) p{
	color:#777777;
}
.flag_container{
	display:flex;
	align-items: center;
	width:30%;
}
.value_container{
	display: flex;
	align-items: center;
	width:65%;
	justify-content: space-between;
}
.flag_container img{
	margin-right:10px;
	width:20px;
	height:15px;
}
.value_container>div{
	width:60%;
	text-align: right;
}
.table_news h2{
	font: 400 18px/15px Lato;
	color:#3B3D40;
}
.table_news h3{
	font: 400 18px/15px Lato;
	color:#6E6E6E;
}
.table_news p{
	font: 400 18px/15px Lato;
}
.table_news>div:nth-child(2) p,
.table_news>div:nth-child(4) p,
.table_news>div:nth-child(6) p
{
	color:#C3150C;
}
.table_news>div:nth-child(3) p,
.table_news>div:nth-child(5) p
{
	color:#109858;
}
.internation_news{
	margin-top:25px;
	padding:16px 25px 0 25px;
	border:1px solid #D7D7D7;
}
.internation_news h1{
	font: 700 30px/35px Poppins;
	color: #6A6A6A;
	text-transform: uppercase;
}
.internation_news-container{
	display: flex;
	flex-flow:column;
	margin-top:16px;
	padding:20px 0 30px 0;
	border-top:1px solid #D7D7D7;
	border-bottom:1px solid #D7D7D7;
}
.internation_news-container>div{
	display: flex;
	justify-content: space-between;
}
.internation_news-container>div:nth-child(2),
.internation_news-container>div:nth-child(3){
	margin-top:25px;
}
.internation_news-container>div img{
	width:30%;
}
.internation_news-container>div>nav{
	width:66%;
	margin-bottom:10px;
}
.internation_info{
	display: flex;
	flex-flow: column;
	justify-content:space-between;
	margin-bottom:16px;
}
.internation_info p{
	font: 400 18px/20px Poppins;
}
.internation_info h2{
	font: 700 19px/26px Poppins;
	color:#101010;
	overflow: hidden;
}
.read-more_link{
	text-align: center;
	width:100%;
	margin:18px 0;
}
.read-more_link a{
	font: 600 20px/21px Poppins;
	color: #6A6A6A;
	text-decoration: none;
	cursor:pointer;
}
.list-news_container{
	margin:45px 0;
	display: flex;
	justify-content: space-between;
	padding-top:40px;
	border-top:1px solid #95989A;
}
.list-news_container>div{
	width:32%;
}
.list-img_container{
	width:100%;
	position: relative;
}
.list-img_container img{
	width:100%;
	height:100%;
}
.list-news_topic{
	position: absolute;
	bottom:15px;
	left:19px;
	width:148px;
}
.list-news_topic h1{
	font: 500 20px/33px Poppins;
	margin:4px 0 4px 8px;
	color:white;
	text-transform: uppercase;
}
.list-news_topic1{
	background-color:#F22929;
}
.list-news_topic2{
	background-color:#B029F2;
}
.list-news_topic3{
	background-color:#2944F2;
}
.list-news{
	padding-top:18px;
}
.list-news h1{
	font: 500 18px/38px Poppins;
}
.ads_section{
	padding-top:55px;
	padding-bottom: 70px;
	border-top:1px solid #95989A;
	display: flex;
	justify-content: space-between;
}
.ads_img1{
	width:62%;
	cursor:pointer;
}
.ads_img2{
	width:23%;
	cursor:pointer;
}
.footer-list{
	background-color:#262729;
	overflow: hidden;
}
.footer-list ul{
	width:100%;
	display: flex;
	justify-content: center;
	margin:30px 0;
}
.footer-list ul li{
	margin-left:20px;
}
.footer-list ul li a{
	font: 400 16px/18px Poppins;
	letter-spacing: 0;
	color: #FFFFFF;
	text-decoration: none;
	cursor:pointer;
}
.copyright_part{
	background-color:#323336;
	padding:45px 0;
}
.copyright_part p{
	font: 400 15px/17px Poppins;
	letter-spacing: 0;
	color: #FFFFFF;
	text-align:center;
}
.icons_part{
	width:58%;
	margin:0 auto;
	margin-top:35px;
	display: flex;
	justify-content:space-between;
}
.icons_part img{
	cursor:pointer;
}

/*Responsive*/

@media only screen and (max-width:1490px){
	header>div{
		width:95.2%;
	}
	main>div{
		width:90%;
	}
	.llogo_container {
		margin-right: 30px;
	}
	.second_list {
		width:73%;
	}
	.newest_news {
		width: 65%;
	}
	.side_news {
		width: 33%;
	}
	.internation_news-container>div img {
		width: 40%;
	}
	.internation_news-container>div>nav {
		width: 56%;
		margin-bottom: 0;
	}
	.internation_info h2{
		font: 700 15px/20px Poppins;
	}
	.list-news h1 {
		font: 500 16px/38px Poppins;
	}
	.internation_info p {
		font: 400 16px/20px Poppins;
	}
	.internation_news h1 {
		font: 700 24px/35px Poppins;
	}
	.main_news-paragraph h2{
		font: 700 16px/23px Poppins;
	}
	.main_news-paragraph p {
		font: 400 16px/23px Poppins;
	}
	/* .news_description h1 {
		font: 600 15px/23px Poppins;
	}
	.news_description h2 {
		font: 400 15px/23px Poppins;
	} */
	.table_news h2,
	.table_news p,
	.table_news h3{
		font: 400 16px/15px Lato;
	}
	.table_news>div:nth-child(1){
		padding-top:14px;
		margin-bottom:14px;
	}
	.table_news>div{
		padding-top:10.5px;
		margin-bottom:10.5px;
	}
	.read-more_link a{
		font: 600 18px/21px Poppins;
	}
	.read-more_link {
		margin: 16px 0;
	}
	.list-news_topic {
		width: 120px;
	}
	.list-news_topic h1 {
		font: 500 16px/33px Poppins;
	}
	.icons_part {
		width: 75%;
	}
}
@media only screen and (max-width:1324px){
	.llogo_container{
		margin-right:20px;
	}
	.llogo_bottom h1 {
		font-size: 35px;
	}
	.second_list ul {
		margin:14px 20px;
	}
	.second_list ul li a{
		font-size:14px;
	}
	.first-part_container{
		flex-flow:column;
	}
	.newest_news{
		width:100%;
	}
	.side_news {
		width:100%;
		margin-top:50px;
	}
	.internation_news-container>div img {
		width: 20%;
	}
	.internation_news-container>div {
		display: flex;
		justify-content: flex-start;
	}
	.internation_news-container>div>nav{
		margin-left:20px;
	}
	.table_news h2,
	.table_news p,
	.table_news h3{
		font: 400 18px/15px Lato;
	}
	.value_container>div {
		width: 50%;
	}
	.list-news h1 {
		font: 500 15px/38px Poppins;
	}
}
@media only screen and (max-width:1024px){
	.llogo_bottom h1 {
		font-size: 30px;
	}
	.second_list {
		width: 90%;
	}
	.list-news_container{
		flex-flow:column;
	}
	.list-news_container>div{
		width:85%;
		margin:auto;
	}
	.list-news_container>div:nth-child(2),
	.list-news_container>div:nth-child(3){
		margin-top:30px;
	}
	.list-news{
		text-align: center;
	}
	.icons_part {
		width: 85%;
	}
	.list-news h1 {
		font: 500 17px/38px Poppins;
	}
	.search_container i {
		font-size: 20px;
	}
	.second_list ul li a {
		font-size: 12.5px;
	}
	.copyright_part p{
		padding:0 10px;
	}
} 
@media only screen and (max-width:800px){
	.llogo_container {
		margin-right: 10px;
	}
	.llogo_bottom h1 {
		font-size: 28px;
	}
	.llogo_top h2 {
		margin-right:3px;
	}
	.second_list ul {
		margin: 14px 10px;
	}	
	.main_news-paragraph h2{
		font: 700 14px/23px Poppins;
	}
	.main_news-paragraph p {
		font: 400 14px/23px Poppins;
	}
	.main_news-type {
		top: 40%;
		bottom:unset;
	}
	.main_news-type h1 {
		font: 700 20px/36px Lato;
		margin:5px 7px;
	}
	.footer-list ul li {
		margin-left: 15px;
	}
	.footer-list ul li a {
		font: 400 14px/18px Poppins;
	}
	.icons_part {
		width: 98%;
	}
}
@media only screen and (max-width:700px){
	.second_list {
		width: 94%;
	}
	.search_container i {
		font-size: 15px;
	}
	.second_list ul li a {
		font-size: 12px;
	}
	.llogo_container {
		margin-right: 5px;
	}
	.footer-list ul li a {
		font: 400 12px/18px Poppins;
	}
	.icons_part {
		width: 58%;
		margin: 0 auto;
		margin-top: 35px;
		display: flex;
		justify-content:center;
		flex-wrap: wrap;
	}
	.icons_part img{
		margin:10px;
	}
	.news_container{
		grid-template-columns:1fr;
	}
	.main_news-paragraph {
		position: unset;
	}
	.main_news-paragraph {
		padding: 15px 28px 13px 28px;
	}
	.main_news-type {
		top:3%;
		bottom:unset;
	}
	.ads_section{
		flex-flow:column;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.ads_img1{
		width: 100%;
	}
	.ads_img2{
		width: 100%;
		margin-top:30px;
	}
}
@media only screen and (max-width:600px){
	.first_list ul li:nth-child(2) {
		margin-left: 15px;
	}
	.first_list ul li:nth-child(3) {
		margin-left: 15px;
	}
	.main_news-paragraph h2 {
		font: 700 12px/23px Poppins;
	}
	.main_news-paragraph p {
		font: 400 12px/23px Poppins;
	}
	.main_news-paragraph {
		padding: 15px 43px 13px 28px;
	}
	.main_news-type h1 {
		font: 700 12px/36px Lato;
		margin:0 7px;
	}
	.second_list ul{
		display:none;
	}
	.second_list ul li:hover{
		background-color:white;
	}
	.second_list i{
		display:block;
		margin: 8px 12px;
		text-align:left;
		font-size:15px;
	}
	.first_list {
		width: 90%;
	}
	.first_list ul li:nth-child(2) a {
		padding-left: 15px;
	}
	.first_list ul li:nth-child(3) a {
		padding-left: 15px;
	}
	.date h1{
		font: 700 12px/12px Lato;
		margin: 3px 8px;
	}
}
@media only screen and (max-width:500px){
	.llogo_bottom h1 {
		font-size: 20px;
	}
	.table_news h2, .table_news p, .table_news h3 {
		font: 400 12.5px/10px Lato;
	}
	header>div {
		width:100%;
		display: flex;
		flex-flow:column;
	}
	.llogo_container{
		margin:auto;
		margin-top:20px;
	}
	.llogo_bottom h1 {
		font-size: 40px;
	}
	.header-list_container{
		border-left:none;
	}
	.first_list{
		width:100%;
		justify-content: center;
	}
	.second_list-container{
		border-left:1px solid #95989A;
	}
	.internation_news-container>div img {
		width:100px;
	}
	.internation_news-container>div>nav {
		width: 60%;
		margin-bottom: 0;
	}
	.footer-list ul{
		flex-flow:column;
		align-items:center;
	}
	.footer-list ul li{
		margin-top:10px;
	}
	.footer-list ul li a {
		font: 400 15px/18px Poppins;
	}
	.internation_info p {
		font: 400 12.5px/20px Poppins;
	}
	.internation_info h2 {
		font: 700 12.5px/20px Poppins;
	}
	.value_container>div {
		width: 63%;
	}
	.list-news {
		text-align: left;
	}
	.list-news_topic {
		width: 100px;
	}
	.list-news_topic h1 {
		font: 500 14px/33px Poppins;
	}
}
