*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	cursor: default;
}
li{
	list-style: none;
}
header{
	border-bottom:1px solid #95989A;
}
header>div{
	width:92%;
	margin:0 0 0 auto;
	display:flex;
	/* justify-content: space-between; */
}
.llogo_container{
	display: flex;
	flex-flow: column;
	justify-content: center;
	/* height:82px; */
	/* background-color:lightcoral; */
	margin-right:55px;
}
.llogo_top{
	display: flex;
	justify-content: space-between;
}
.black_article{
	width:30%;
	background-color:black;
	display: flex;
	justify-content: center;
	align-items:center;
}
.red_article{
	width:68%;
	background-color:red;
	display: flex;
	justify-content: flex-end;
	align-items:center;
}
.llogo_top h1{
	letter-spacing:12px;
	color:white;
	font-size:11px;
	font-family:'Poppins';
}
.llogo_top h2{
	line-height: 17px;
	color:white;
	font-size:11px;
	text-align: right;
	font-family:'Poppins';
}
.llogo_bottom{
	width:100%;
}
.llogo_bottom h1{
	/* background-color:lightskyblue; */
	text-align: center;
	font-size:47px;
	font-family:'Poppins';
	line-height: 1;
}
.llogo_bottom span{
	color:red;
	text-transform: capitalize;
}
.header-list_container{
	width:100%;
	display: flex;
	flex-flow: column;
	border-left:1px solid #95989A;
}
.first_list{
	display:flex;
	justify-content: flex-end;
	width:78%;
}
.first_list ul{
	display: flex;
	margin-top:6px;
	margin-bottom:14px;
}
.first_list ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font: 600 12px/18px Poppins;
	letter-spacing: 0;
	opacity: 1;
}
.first_list ul li:nth-child(2){
	margin-left:25px;
	
}
.first_list ul li:nth-child(3){
	margin-left:25px;
}
.first_list ul li:nth-child(1) a{
	color:#3B5998;
}
.first_list ul li:nth-child(2) a{
	color:#D3373C;
	padding-left:25px;
	border-left:2px solid black;
}
.first_list ul li:nth-child(3) a{
	color:#C823D4;
	padding-left:25px;
	border-left:2px solid black;
}
.second_list-container{
	display: flex;
	border-top:1px solid #95989A;
	height:100%;
}
.second_list{
	width:64%;
	border-right:1px solid #95989A;
}
.second_list ul{
	display:flex;
	justify-content:space-between;
	margin:14px 70px 14px 30px;
}
/* .second_list ul li{
	 margin-right:40px; 
} */
.second_list ul li a{
	font: 500 16px/25px Poppins;
	letter-spacing: 0;
	color: #000000;
	text-decoration: none;
}
.search_container{
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search_container i{
	font-size:26px;
}
main>div{
	width:84%;
	margin:42px auto 0 auto;
}
.first-part_container{
	display: flex;
	justify-content: space-between;
	/* background-color:lightblue; */
}
.newest_news{
	width:62%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.main_news{
	width:100%;
	height:46%;
	position: relative;
	background-color:lightblue;
}
.main_news img{
	width:100%;
	height:100%;
}
.main_news-paragraph{
	position: absolute;
	background-color:rgba(242, 41, 41, 0.7);
	bottom:0;
	left:0;
	padding:22px 43px 13px 28px;
}
.main_news-paragraph h2{
	font: 700 20px/23px Poppins;
	color:white;
}
.main_news-paragraph p{
	color:white;
	font:400 18px/23px Poppins;;
}
.main_news-type{
	position: absolute;
	right:20px;
	bottom:35%;
	background-color:white;
}
.main_news-type h1{
	font: 700 30px/36px Lato;
	margin:4px 12px 9px 13px;
}
.news_container{
	margin-top:25px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px 20px;
	height:64%;
}
.img_container{
	position: relative;
}
.img_container img{
	width:100%;
	height:100%;
}
.date{
	position:absolute;
	bottom:20px;
	left:20px;
	background-color:white;
}
.date h1{
	font: 700 16px/19px Lato;
	margin:3px 12px 6px 12px;
}
.news_description h1{
	font: 600 17px/23px Poppins;
}
.news_description h2{
	font: 400 17px/23px Poppins;
}
.side_news{
	width:36%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.table_news{
	border:1px solid #E4E4E4;
	/* height:230px; */
	padding:0 15px;
}
.table_news>div{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:18px 0;
}
.table_news>div:nth-child(1){
	margin:24px 0;
}
.table_news>div:nth-child(1) .value_container{
	justify-content: flex-end;
}
.table_news>div:nth-child(1) p{
	color:#777777;
}
.flag_container{
	display:flex;
	align-items: center;
	width:30%;
}
.value_container{
	display: flex;
	align-items: center;
	width:65%;
	justify-content: space-between;
}
.flag_container img{
	margin-right:10px;
	width:20px;
	height:15px;
}
.value_container>div{
	width:60%;
	text-align: right;
}
.table_news h2{
	font: 400 18px/15px Lato;
	color:#3B3D40;
}
.table_news h3{
	font: 400 18px/15px Lato;
	color:#6E6E6E;
}
.table_news p{
	font: 400 18px/15px Lato;
}
.table_news>div:nth-child(2) p,
.table_news>div:nth-child(4) p,
.table_news>div:nth-child(6) p
{
	color:#C3150C;
}
.table_news>div:nth-child(3) p,
.table_news>div:nth-child(5) p
{
	color:#109858;
}
.internation_news{
	margin-top:25px;
	padding:16px 25px 0 25px;
	border:1px solid #D7D7D7;
}
.internation_news h1{
	font: 700 30px/35px Poppins;
	color: #6A6A6A;
	text-transform: uppercase;
}
.internation_news-container{
	margin-top:16px;
	padding:20px 0 30px 0;
	border-top:1px solid #D7D7D7;
	border-bottom:1px solid #D7D7D7;
}
.internation_news-container>div{
	display: flex;
	justify-content: space-between;
}
.internation_news-container>div:nth-child(2),
.internation_news-container>div:nth-child(3){
	margin-top:25px;
}
.internation_news-container>div img{
	width:30%;
}
.internation_news-container>div>nav{
	width:66%;
	margin-bottom:10px;
}
.internation_info{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.internation_info p{
	font: 400 18px/20px Poppins;
}
.internation_info h2{
	font: 700 19px/26px Poppins;
	color:#101010;
}
.read-more_link{
	text-align: center;
	width:100%;
	margin:18px 0;
}
.read-more_link a{
	font: 600 20px/21px Poppins;
	color: #6A6A6A;
	text-decoration: none;
}
.list-news_container{
	margin:45px 0;
	display: flex;
	justify-content: space-between;
	padding-top:40px;
	border-top:1px solid #95989A;
}
.list-news_container>div{
	width:32%;
}
.list-img_container{
	width:100%;
	position: relative;
}
.list-img_container img{
	width:100%;
	height:100%;
}
.list-news_topic{
	position: absolute;
	bottom:15px;
	left:19px;
	width:148px;
}
.list-news_topic h1{
	font: 500 20px/33px Poppins;
	margin:4px 0 4px 8px;
	color:white;
	text-transform: uppercase;
}
.list-news_topic1{
	background-color:#F22929;
}
.list-news_topic2{
	background-color:#B029F2;
}
.list-news_topic3{
	background-color:#2944F2;
}
.list-news{
	padding-top:18px;
}
.list-news h1{
	font: 500 18px/38px Poppins;
}
.ads_section{
	padding-top:55px;
	padding-bottom: 70px;
	border-top:1px solid #95989A;
	display: flex;
	justify-content: space-between;
}
.ads_img1{
	width:62%;
}
.ads_img2{
	width:23%;
}
.footer-list{
	background-color:#262729;
	overflow: hidden;
}
.footer-list ul{
	width:100%;
	display: flex;
	justify-content: center;
	margin:30px 0;
}
.footer-list ul li{
	margin-left:20px;
}
.footer-list ul li a{
	font: 400 16px/18px Poppins;
	letter-spacing: 0;
	color: #FFFFFF;
	text-decoration: none;
}
.copyright_part{
	background-color:#323336;
	padding:45px 0;
}
.copyright_part p{
	font: 400 15px/17px Poppins;
	letter-spacing: 0;
	color: #FFFFFF;
	text-align:center;
}
.icons_part{
	width:58%;
	margin:0 auto;
	margin-top:35px;
	display: flex;
	justify-content:space-between;
}